[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "deps/nanosvg"]
	path = deps/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "deps/raygui"]
	path = deps/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "deps/clay"]
	path = deps/clay
	url = https://github.com/nicbarker/clay.git
